<section id="hero" class="hero section dark-background">
  <img
    src="assets/img/1.jpg"
    alt=""
    data-aos="fade-in"
    data-aos-duration="2000"
  />

  <div
    class="container d-flex flex-column align-items-center text-center gap-4"
  >
    <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Fans Derby</h2>
    <p data-aos="fade-up" data-aos-delay="200">
      If you interested in the world of football, you are at the right place
    </p>
    <div data-aos="fade-up" data-aos-delay="300">
      <a href="#" class="btn btn-light btn-lg me-md-4 app-store">
        <i class="fab fa-apple me-2"></i>App Store
      </a>
      <a href="#" class="btn btn-outline-light btn-lg">
        <i class="fab fa-google-play me-2"></i>Google Play
      </a>
    </div>
  </div>
</section>
